@import 'base';

@media (min-width: 30em) {
    @import '30em';
}

@media (min-width: 48em) {
    @import '48em';
}

@media (min-width: 60em) {
    @import '60em';
}

@media (min-width: 62.5em) {
    @import '62em';
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #eee;
    }

    .tabs li {
        background: #333;
    }

    a {
        color: #bbf;
    }

    header a {
        color: #fff;
    }

    header a:hover {
        background: #111;
    }

    header,
    .button,
    button,
    input[type=submit] {
        background: #222;
        border-color: #000;
    }

    .has-smalls small,
    .name {
        color: #fff;
    }

    .name {
        border-color: #000;
    }

    select {
        color: #fff;
        border-color: #000;
    }

    .breadcrumb,
    footer ul,
    .tabs li {
        border-color: #222;
    }
}

@media print {
    @import 'print';
}

@media (min-width: 600px) {
    footer,
    .service-map {
        margin-bottom: 90px;
    }
}
