{% load humanize %}

<ul class="history">
    {% for revision in revisions %}
        <li>
            {% if not vehicle %}
                <a href="{{ revision.vehicle.get_absolute_url }}">{{ revision.vehicle }}</a>
            {% endif %}
            <small>
                {% if not by_user %}{% if revision.user %}
                    <a href="{{ revision.user.get_absolute_url }}">{{ revision.user }}</a>
                    •
                {% endif %}{% endif %}
                {{ revision.datetime|naturaltime }}
                <button class="action" data-url="{{ revision.id }}/revert">revert</button>
            </small>
            {% for key, from, to in revision.list_changes %}
                {{ key }}
                {% if from %}
                    from {{ from }}
                {% endif %}
                {% if to %}
                    to
                    {{ to }}
                {% endif %}
                <br>
            {% endfor %}
            {% for feature in revision.vehiclerevisionfeature_set.all %}
                {{ feature }}
            {% endfor %}
            {% if revision.message %}
                <div>{{ revision.message|urlize }}</div>
            {% endif %}
        </li>
        {% endfor %}
</ul>

<script>
(function () {
    'use strict';

    for (const button of document.querySelectorAll('button.action')) {
        let row = button.parentElement.parentElement;
        button.onclick = function(event) {
            let url = '/vehicles/history/' + this.dataset.url;
            fetch(url, {
                method: 'POST',
                redirect: 'error',
            }).then(function(response) {
                if (response.ok) {
                    response.text().then(text => {
                        if (text) {
                            window.alert(text);
                        }
                    });
                }
            });
            return false;
        };
    }
})();
</script>
